<ion-tabs>

  <ion-tab-bar color="success" slot="bottom">
    <ion-tab-button tab="quotes">
      <ion-icon name="chatbox-ellipses"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
