<ion-header>
  <ion-toolbar>
    <ion-title>-<&nbsp;Islamic Quotes&nbsp;>-</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img [src]="gambar">

  <div id="my-node">
    <img  src="https://www.msmnstudio.com/wp-content/uploads/2020/06/hgac-gundam-heavyarms-1-300x300.jpg">
  </div>

  <ion-card *ngFor="let db of data">
    <ion-card-content class="ion-text-center">
      <div class="ion-padding-bottom text_arabic">{{db.text_arabic}}</div>
      <div class="text_en">{{db.text_en}}</div>
      <div class=" ion-padding-top surah_info"> {{"{ " + db.surah_name + " : " + db.ayah_number + " }"}}</div>
      <div class="ion-margin-top ion-text-end" style="border-top: 1px solid #ddd;">
        <ion-icon class="btn_sub" name="save" (click)="save()"></ion-icon>
        <ion-icon class="btn_sub" name="share-social"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>