.text_arabic {
    font-family: "arabic";
    font-size: 40px;
    //  font-weight: 500;
}

.text_en {
    font-size: 17px;
}

.surah_info {
    font-size: 14px;
    font-weight: 500;
}

.btn_sub {
    color: #999;
    font-size: 22px;
    padding: 12px 0 0 16px;
}
